body{

margin:0;
padding:0;

font-family:Arial;

background:linear-gradient(135deg,#4CAF50,#2E7D32);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.container{

background:white;

padding:30px;

border-radius:15px;

width:400px;

text-align:center;

box-shadow:0 5px 15px rgba(0,0,0,.3);

}

input{

width:90%;

padding:12px;

margin:8px;

border-radius:8px;

border:1px solid gray;

font-size:16px;

}

button{

padding:12px;

width:95%;

background:#4CAF50;

color:white;

font-size:18px;

border:none;

border-radius:8px;

cursor:pointer;

}

button:hover{

background:#2E7D32;

}

h1{

color:#2E7D32;

}

h2{

color:#333;

}